@import 'tailwindcss';

@import '@fontsource/commit-mono';
@import '@fontsource/bricolage-grotesque';
@import '@fontsource/architects-daughter';

:root {
	--r-main-font: 'Bricolage Grotesque';
	--r-heading-font: 'Bricolage Grotesque';
	--r-code-font: 'Commit Mono';
}

@utility font-script {
	font-family: 'Architects Daughter', cursive;
}

@utility always-visible {
	opacity: 1 !important;
	visibility: visible !important;
}

@layer base {
	[hidden] {
		display: revert !important;
	}
}
